/* --- GERAL --- */
* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: #B0C4DE;
}


                           /* --- HOME PRINCIPAL ( FUNDO GERAL PRINCIPAL )--- */
.home-container {
    
    width: 1900px;
    height:910px;
    padding: 1rem;
    border-radius: 10px;
    
}

/* --- HOME TITULO ( TITULO PRINCIPAL )--- */
.home-container header {
    background-color: #0a0a0a;
    font-size: 10px;
    color:#fff;
    text-align: center;
    border-radius: 5px;
    padding: 1rem 1rem 1rem 1rem;
    height: 60px;
    box-shadow: 3px 3px 15px rgb(163, 116, 115);
}



/* --- FORMULARIO GERAL ( ABAIXO DOS TITULOS ) --- */
.geral-form {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 1860px;
    height:820px;       
}
.geral-form-lateral {
    flex-basis: 385px;
    
    padding: 2px 1px 9px 10px ;

}
                          /* --- FORMULARIO COM OS BOTÕES - LADO ESQUERDO ) --- */
.form-E{
    border-radius: 18px 0px 0px 18px;
    box-shadow: 5px 5px 15px black;
    max-width: 370px;
    
    
}


/* --- FORM DE ITENS - LADO ESQUERDO - ACIMA ) --- */
#lateral-form-a {
    padding: 1rem 1rem 1rem 1rem;
    max-width: 370px;
    height: 400px;
    margin-top: 0.1rem;
    
    
      
}
.button-lateral-form-a {
    border-radius: 15px 1px 15px 1px ;
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    box-shadow: 5px 5px 17px black;
    
}
.btn-r {
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    font-weight: 400;
    margin: 5px;
    padding: 0.6em 2.8em;
    text-decoration: none; /* retira o traço de link*/
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.third {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}


#form-a1 {
    margin-top: 3px;
    padding: 2px 10px 9px 10px ;
}

#form-a2 {
    margin-top: 15px;
    padding: 2px 10px 9px 10px ;
}

#titulo-link {
    
    font-size: 12px;
    text-align: center;
    margin: auto;
    width: 379px; 

}


/* --- FORM DE ITENS - LADO ESQUERDO - ABAIXO ) --- */
#lateral-form-b {
    
    padding: 1rem 1rem 1rem 1rem;
    max-width: 380px;
    height: 390px;
    margin-top: 1rem;
    border-radius: 0px 0px 35px 0px;
    margin: 0;
    display: flex;
    justify-content: space-around;        
}


/* --- FORM DE ITENS - LADO ESQUERDO - ABAIXO ) --- */
.button-lateral-form-b a {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 1.2px solid #e74c3c;
    border-radius: 0.4em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 0.7rem;
    font-weight: 100;
    line-height: 1;
    margin: 3px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 15px;
    width: 160px;
}


.button-lateral-form-b a:hover,
.button-lateral-form-b a:focus {
    color: #fff;
    outline: 0;
}

.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 500ms ease-in-out, color 800ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}





                           /* --- FORMULARIO LARGO - LADO DIREITO ) --- */


.form-D {       
    height:820px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    
}

/* --- FORM DE ITENS - LADO DIREITO) --- */
.lado-A {
    box-shadow: 5px 5px 17px black;
    background-color: #fff;
    margin-right: 5px;
    border-radius: 0px 0px 0px 0px;
    
}
.lado-B {   
    border-radius: 0px 0px 18px 0px; 
    box-shadow: 5px 5px 17px black;
    background-color: #fdfdfd;
    display: flex;
    flex-direction: column;
          
}
.lado-A h3,
.lado-B h3 {
    font-size: 15px;
    background-color: #0a0a0a;
    color: #fdfdfd;
    padding: 12px;
    font-style: italic;
    height: 50px;
    width: 737px;
    text-align: center;
}

.lado-B-container{
    width: 735px;
    height: 800px ;
    background-color: #e9f0f067;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.lado-B-container-itens {
    margin-top: 5px;
    text-align: center;
    background-color: #dfd4c498;
    width: 735px;
    height: calc(752px /3);
    box-shadow: 5px 5px 17px black;
    border-radius: 18px 18px 18px 18px; 
    
}

/* --- GRAFICOS LADO-B ITEM 1 --- */
.lado-B-item-1 {
    display: flex;
    flex-direction: row;
}
.lado-B-item-1-1 {
    background-color: #B0C4DE;
    width: 370px;
    min-height: 100px;
    box-shadow: 5px 5px 17px black;
    border-radius: 18px 18px 18px 18px;
    margin: 3px;
}

.lado-B-item-1-1 iframe {
    margin:15px;
}

/* --- GRAFICOS LADO-B ITEM 2 --- */
.lado-B-item-2 {
    display: flex;
    flex-direction: row;
}
.lado-B-item-2-1 {
    background-color: #B0C4DE;
    width: 735px;
    min-height: 100px;
    box-shadow: 5px 5px 17px black;
    border-radius: 18px 18px 18px 18px;
    margin: 3px;
}

.lado-B-item-2-1 iframe {
    margin:15px;
}

/* --- GRAFICOS LADO-B ITEM 3 --- */
.lado-B-item-3 {
    display: flex;
    flex-direction: row;
}
.lado-B-item-3-1 {
    background-color: #B0C4DE;
    width: 735px;
    min-height: 100px;
    box-shadow: 5px 5px 17px black;
    border-radius: 18px 18px 18px 18px;
    margin: 3px;
}

.lado-B-item-3-1 iframe {
    margin:15px;
}
