/* geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* CORPO DA APLICAÇÃO */

body {

    background: rgb(199, 197, 197);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:#fff
}

.container-geral {
    display: inline;
    min-height: 400px;
    min-width: 400px;
    background-color: #6675a3;
    padding: 1rem;
      
}

.container-geral h2 {
    margin-bottom: .6rem;
}

.container-titulo {
    display:flex;
    justify-content: space-around;
    gap: 3;
}

#titulo-material {
    padding-left: 100px;
    
    
}

#titulo-conexao {
    
   
}


                                      /* FORM CONTAINER MATERIAL*/

.container-material-spool {
    display: flex;
    justify-content: center;
    
}

.container-material-spool h2 {
    text-align: center;
    font-size: 1.3rem;
    padding: 0;
}
.container-tubo {
    border-right: 1px solid #fff;
    padding-right: 5px;
}

.container-conexao {
    padding-left: 5px;
}


.container-tubo h2,h3,
.container-conexao h2,h3 {
    background-color: #5c5f69;
    font-size: 1rem;
    text-align: center;
    padding: .5rem;  
}

.table-header {
    display:flex;
    justify-content: center;
    align-items: center;  
}

.table-header h4 {
    min-width: 89px;
    margin-bottom: 0.3rem;
    border: 1px solid #ccc;
    padding: .6rem;
    text-align: center;
    font-size:15px;
    
}

.table-itens {
    display:flex;
    justify-content: center;
    align-items: center;
}

.table-itens h4 {
    padding-top:10px;
    padding-right: 20px;
}



.item {
    font-size: 15px;
    min-height: 40px;
    width: 88px;
    text-align: center;
}


#container-btn{
    margin-top: 170px;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.btn-calc {
    color: #fff;
    background-color: #5c5f69;
    margin-top: 1.3rem;
    margin-left: .3rem;
    margin-right: .3rem;
    padding: .7rem;
    width: 120px;
    border:none;
    font-size: 15px;
    opacity: 0.8;
    cursor: pointer;
    
}

.btn-calc:hover {
    background-color: #383838;
    opacity: 1.3;
}

#table-itens-total h4 {
    margin-top: 1rem;
    min-width: 200px;
    

}



                                     /* FORM CONTAINER CONEXÃO*/


.table-itens-conexao {
    display:flex;
    justify-content: left;
    align-items: center;
}

.table-itens-conexao h4,div {
    font-size: 15px;
    padding-top: 12px;
}

.item-conexao {
    font-size: 15px;
    min-height: 40px;
    width: 88px;
    text-align: center;
    
}

.table-itens-total h4 {
    margin: 1.5rem;
    text-align: center;
    
}

#container-btn-conexao{
    display:flex;
    justify-content: center;
    align-items: center; 
}

.btn-calc-conexao {
    color: #fff;
    background-color: #5c5f69;
    margin-top: .5rem;
    margin-left: .3rem;
    margin-right: .3rem;
    padding: .7rem;
    width: 120px;
    border:none;
    font-size: 15px;
    opacity: 0.8;
    cursor: pointer;
    
}

.btn-calc-conexao:hover {
    background-color: #383838;
    opacity: 1.3;
}


                                     /* FORM CONTAINER TUBO-SPOOL*/

                                     